.pagination{
    vertical-align:middle;
}
.form-pagination-stat{
    display:inline-block;
    vertical-align: middle;
}
.form-pagination-gotopage-wrap{
    display:inline-block;
    vertical-align: middle;
}
.form-pagination-gotopage-wrap>.input-group{max-width:200px;}